* {
  box-sizing: border-box;
  outline-width: 0;
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 0;
}


/* Style all input fields */
input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  /* Style the submit button */
  button {
    width: 200px;
    height: 50px;
    background: #D5A9DA;
    border: 3px solid #FCEFEF;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 500ms;
  }

  span, 
  svg {
    position: absolute;
    color: #D0629B;
    fill: transparent;
    font-size: 20px;
  }

  button:hover { font-size: 14px; }

  button:focus {
    outline: none;
    border: 2px solid transparent;
    width: 50px;
    border-left: 2px solid #FCEFEF;
    border-bottom: 2px solid #FCEFEF;
    animation: spin 2s 500ms forwards;
  }

  button:focus span { color: transparent; }
  button:focus svg {
    animation: check 500ms 2300ms forwards;
  }
  
  @keyframes spin {
    80% {
      border: 2px solid transparent;
      border-left: 2px solid #FCEFEF;
    }
    100% {
      transform: rotate(1080deg);
      border: 2px solid #FCEFEF;
    }
  }

  @keyframes check {
    to {
      fill: #FCEFEF;
    }
  }

  @keyframes circle {
    to {
      border: 2px solid #FCEFEF;
    }
  }
  /* Style the container for inputs */
  .container {
    display: flex;
    background: linear-gradient(to right, #cc5f88, #c9b8f0);
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  
  /* The message box is shown when the user clicks on the password field */
  #message {
    display:none;
    background: linear-gradient(to right, #cc5f88, #c9b8f0);
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: -120px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
  }
