body {
    background-color: #FAF5EF;
}
 

    
 /* for the welcome sign */
 @import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

* {
  margin: 0;
  padding: 0;
}



      p {
         font-weight: 400;
        font-family: 'Lato';
        color: #ffffff;
        font-size: 6px;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
    




/* hello there text*/
.hello {
    color: #0B090A;
    font-size: 15px;
    font-style: oblique;
}


/* to make the poses wrap*/
.col-xs-3 {
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 200px;
    width: 200px;
}

.col-xs-4 {
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 200px;
    width: 200px;
}
.hams {
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 200px;
    width: 200px;
}
 /* On small screens, set height to 'auto' for the grid */
 @media screen and (max-width: 767px) {
   .row.content {height: auto;} 
 }
